.border-bottom.margin-bottom-one.comment.on-hover
  .row
    .column.small-2.medium-1.large-1
      = link_to comment.profile do
        %img{ :alt => comment.profile.name, :src => comment.profile.image }

    .column.small-10.large-11.padding-left-none
      .relative
        = link_to comment.profile, :class=> "" do
          = comment.profile.name
        %span.dark-gray.small{ :title => comment.created_at}= time_ago_in_words(comment.created_at)
        = markdown(comment.content)
        - if user_signed_in? and current_user == comment.profile
          = link_to '', comment, method: :delete, :class => 'small dark-gray iconicstroke-x absolute pin-top-right on-hover-inner', :remote => true, data: { confirm: 'Are you sure?' }
