<div class="hide">
  <%= pluralize(@comments.count, 'comment') %>
</div>

<div id="comments-count">

</div>

<div id="comments-list">
  <% @comments.each do |comment| %>
  <%= render 'comments/comment', :comment => comment %>
  <% end %>
</div>

<% if user_signed_in? %>

<%= form_for(@comment, remote: true) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
<% if @comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this talk from being saved:</h2>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :talk_id, value: @talk.id %>

<div class="field">
  <%= f.text_area :content, :class => 'form-control', :required => 'true', :placeholder => 'Comment. Markdown support' %>
</div>
<div class="actions">
  <%= f.submit class: 'button button-primary' %>
</div>
<% end %>

<% else %>

<div class="border-all padding-one">
  <%= link_to 'Connect with Twitter', '/signin', :class => 'button button-small button-info margin-right-half' %>
  <small>to start discussion and join Ontwik.</small>
</div>


<% end %>


