<% content_for :title do %>
Topics
<% end %>

<div class="row">
  <div class="large-12 column">
   <h3>Topics</h3>
 </div>

 <% @topics.each do |topic| %>
 <div class="large-3 column">
 <%= link_to topic, :class=> "block border-all padding-one margin-bottom-two dark-gray" do %>
   <%= topic.name %>
   <span class="right" title="<%= pluralize(topic.talks.length, 'talk') %>"><%= topic.talks.length %></span>
   <% end %>
 </div>
 <% end %>

</div>

<div class="hide">
  <% @topics.each do |topic| %>
  <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
  <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  <%= link_to 'New Topic', new_topic_path %>
</div>
