- content_for :title do
  Topics

.row
  .large-12.column
    %h3.margin-top-one.margin-bottom-one Topics

  - @topics.each do |topic|
    .small-12.medium-4.large-3.column
      = link_to topic, :class=> 'block border-all padding-one margin-bottom-two' do
        = topic.name
        %span.right{:title => pluralize(topic.talks.length, 'talk')}= topic.talks.length

.hide
  - @topics.each do |topic|
    %td= link_to 'Edit', edit_topic_path(topic)
    %td= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'New Topic', new_topic_path
