<div class="row">
  <div class="large-12 column">
    <% if user_signed_in? and @activities %>
    <% @activities.each do |activity| %>
    <div>
      <strong><%= link_to activity.owner.name, activity.owner if activity.owner %></strong>
      <%= render_activity activity %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<% unless user_signed_in? %>
<%= render 'shared/hero' %>
<% end %>

<div class="row hide">
  <div class="large-12 column">
    <h4>Featured</h4>
  </div>
</div>

<div class="margin-top-one padding-bottom-one hide">
  <div class="row">
    <% @featured.each do |talk| %>
    <%= render 'shared/talk_card', :talk => talk, classes: "large-4" %>
    <% end %>
  </div>
</div>

<div class="row hide">
  <div class="large-12 column">
    <h4>Latest</h4>
  </div>
</div>

<div class="margin-top-one padding-bottom-one">
  <div class="row">
    <% @talks.each do |talk| %>
    <%= render 'shared/talk_card', :talk => talk, classes: "large-4" %>
    <% end %>
  </div>
</div>

<%= render 'shared/pagination' %>
