- unless user_signed_in?
  = render 'shared/hero'


.row
  .large-12.column
    - if user_signed_in? and @activities.length > 0
      %h5.margin-top-one.margin-bottom-one
        Feed -
        %span.dark-gray People you follow
        .row
          - @activities.each do |activity|
            = render_activity activity

.row.hide
  .large-12.column
    %h5 Featured


.margin-top-one.padding-bottom-one.hide
  .row
    - @featured.each do |talk|
      = render 'shared/talk_card', :talk => talk, classes: "large-4"


.row
  .large-12.column
    %h5{ class: 'margin-bottom-none margin-top-one' } Latest


.margin-top-one.padding-bottom-one
  .row
    - @talks.each do |talk|
      = render 'shared/talk_card', :talk => talk, classes: "large-4 medium-6"


= render 'shared/pagination'
