<% unless user_signed_in? %>
<%= render 'shared/hero' %>
<% end %>

<div class="row">
  <div class="large-12 column">
    <% if user_signed_in? and @activities.length > 0 %>
    <h5 class="margin-top-one margin-bottom-one">Feed - <span class="dark-gray">People you follow</span></h4>
    <div class="row">
      <% @activities.each do |activity| %>
      <%= render_activity activity %>
      <% end %>
    </div>
    <div class="border-bottom"></div>
    <% end %>
  </div>
</div>

<div class="row hide">
  <div class="large-12 column">
    <h5>Featured</h5>
  </div>
</div>

<div class="margin-top-one padding-bottom-one hide">
  <div class="row">
    <% @featured.each do |talk| %>
    <%= render 'shared/talk_card', :talk => talk, classes: "large-4" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <h5 class="margin-bottom-none margin-top-one">Latest</h5>
  </div>
</div>

<div class="margin-top-one padding-bottom-one">
  <div class="row">
    <% @talks.each do |talk| %>
    <%= render 'shared/talk_card', :talk => talk, classes: "large-4 medium-6" %>
    <% end %>
  </div>
</div>

<%= render 'shared/pagination' %>
