<% content_for :title do %>
New Talk
<% end %>

<div class="margin-top-two">

  <%= form_for @talk, url: talks_path do |f| %>



  <div class="row">

    <div class="large-6 column column--center">
      <div class="white-bg padding-two">

        <h3 class="text-center margin-top-none margin-bottom-one">New</h3>

        <% if @talk.errors.any? %>
        <ul class="list-bare">
          <% @talk.errors.full_messages.each do |msg| %>
          <li class="margin-bottom-one danger"><%= msg %></li>
          <% end %>
        </ul>
        <% end %>

        <div class="row">
          <div class="large-12 column">
            <div class="form-group">
              <%= f.text_field :url, :type => 'url', :placeholder => 'Talk URL (Youtube , Vimeo)', :class => 'form-control', :required => 'true' %>
            </div>
          </div>

          <div class="large-12 column">
            <div class="row">
              <div class="large-6 column">
                <div class="form-group">
                <%= f.collection_select :topic_id, Topic.all, :id, :name, {}, {:class => 'form-control'} %>
                </div>
              </div>
              <div class="large-6 column">
                <div class="form-group">
                  <%= f.text_field :tag_list, :type => 'text', :placeholder => 'Talk Tags', :class => 'form-control', :required => 'true' %>
                </div>
              </div>
            </div>
          </div>

          <div class="large-8 column">
            <%= f.submit 'Add', :class => 'button button-primary' %>
          </div>
        </div>

      </div><!-- white-bg padding-two -->
    </div><!-- large-6 -->

  </div>
  <% end %>
</div>
