<% content_for :title do %>
<%= truncate @talk.title, length: 60 %>
<% end %>

<% content_for :description do %>
<%= truncate @talk.description, length: 155 %>
<% end %>

<div class="black-bg">
  <div class="row">
    <div class="large-10 column column--center">
      <div class="flex-embed flex-embed--16by9">
        <% if @talk.html %>
        <%= @talk.html.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-10 column column--center">

    <div class="row">
      <div class="large-9 column">
        <h3 class="mt0"><%= @talk.title %></h3>
        <p><%= markdown(@talk.description) %></p>
        <% if @talk.speaker == current_user %>
        <%= link_to edit_talk_path(@talk), :title => "Edit" do %>
        <p class="border-all padding-one inline-block">
          <span class="iconicstroke-info dark-gray margin-right-half"></span>
          <small>
            You can edit the talk description, markdown and syntax hilight are supported.
          </small>
        </p>
        <% end %>
        <% end %>
      </div>

      <div class="large-3 column">

        <div class="margin-bottom-one padding-top-one padding-bottom-one border-bottom">

          <div class="row">

            <div class="large-12 medium-6 small-6 column text-left">
              <div class="margin-bottom-one padding-bottom-one border-bottom clearfix">
                <!-- Like Button -->
                <% if user_signed_in? %>
                <%= render 'shared/like_form', likeable: @talk %>
                <% else %>

                <%= link_to '', :class=> "button button-icon left", :'data-toggle'=>"modal", :'data-target'=>".bs-example-modal-sm", :title => "Like" do %>
                <span class="iconicstroke-heart-stroke"></span>
                <% end %>

                <%= render 'shared/login_modal' %>

                <% end %>

                <span class="likes padding-top-quarter padding-bottom-quarter padding-right-one padding-left-one white-bg border-right border-top border-bottom left">
                  <%= pluralize(@talk.likers(Speaker).count, '')%>
                </span>
                <!-- End Like Button -->

                <a href="http://twitter.com/share?url=<%= request.original_url %>&text=<%= @talk.title %> By @<%= @talk.speaker.nickname %>" target="_blank" class="button button-icon button-info right" title="Share on Twitter">
                  <img src="/assets/twitter-bird-white-16x16.png">
                </a>
              </div>
            </div>

            <% if @talk.speaker == current_user %>
            <div class="large-12 medium-6 small-6 column margin-bottom-one">
              <%= link_to talk_path(@talk), method: :delete, data: { confirm: 'Are you sure you want to delete this talk?' }, :class=> "button button-icon", :title => "Delete" do %>
              <span class="iconicstroke-x"></span>
              <% end %>
              <%= link_to edit_talk_path(@talk), :class=> "button button-icon", :title => "Edit" do %>
              <span class="iconicstroke-pen-alt2"></span>
              <% end %>
            </div>
            <% end %>

          </div><!-- row -->

          <div class="hide">
            <% @likers.each do |speaker|%>
            <%= link_to speaker.name, speaker %>
            <% end %>
          </div>

          <%= link_to @talk.topic, :class=> "block gray-bg flag padding-one margin-bottom-one" do %>
          <%= @talk.topic.name %>
          <% end %>

          <div class="margin-top-one padding-top-one border-top clearfix">
            <% if !@talk.tag_list.empty? %>
            <h4 class="margin-bottom-one margin-top-none">Tags</h4>
            <%= raw @talk.tag_list.map { |t| link_to t, tag_path(t), class: 'tag radius' }.join('  ') %>
            <% end %>
          </div>

        </div>

        <div class="margin-bottom-one padding-bottom-one border-bottom ell">
          <%= link_to @talk.speaker, :class=> "block gray-bg flag" do %>
          <div class="flag__image">
            <img src="<%= @talk.speaker.image %>" alt="<%= @talk.speaker.name %>" style="width:64px;height:64px;">
          </div>
          <h4 class="margin-bottom-none flag__image">
            <%= @talk.speaker.name %>
          </h4>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div><!-- row -->


<!-- related talks by the current talk tags -->
<% if Talk.tagged_with([@talk.tag_list]).length  > 1 %>
<div class="gray-bg padding-top-two padding-bottom-two">
  <div class="row">
    <div class="large-10 column column--center">
      <h3>Related Talks</h3>
    </div>

    <div class="large-10 column column--center">
      <div class="row">
        <% Talk.tagged_with([@talk.tag_list]).each do |talk| %>
        <% if talk.id != @talk.id %>
        <%= render 'shared/talk_card', :talk => talk %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
