<div class="margin-top-two">
  <%= form_for :user, url: user_path(@user), html: { multipart: true }, method: :patch do |f| %>
  <div class="row">

    <div class="large-10 column column--center">
      <div class="row">
        <div class="large-12 column">

          <div class="margin-bottom-one">
            <%= f.label :name %>
            <%= f.text_field :name, :type => 'text', :autofocus => true, :placeholder => 'Name', :class => 'form-control border padding-one full-width', :required => 'true' %>
          </div>

          <div class="margin-bottom-one">
            <%= f.label :profile_banner %>
            <%= f.file_field :profile_banner, :class => 'form-control border-all padding-one full-width' %>
          </div>

          <div class="margin-bottom-one">
            <%= f.label :description %>
            <%= f.text_area :description, :class=>'form-control border padding-one full-width' %>
          </div>

          <%= f.submit class:'padding-top-halve padding-left-two padding-bottom-halve padding-right-two'%>

        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
