<%= form_for :user, url: user_path(@user), method: :patch do |f| %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :class=>'input-field' %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description, :autofocus => true, :class=>'input-field' %>
</div>

<div class="form-group">
  <%= f.submit class:'button button--primary'%>
</div>

<% end %>
