<div class="row">

  <div class="col-sm-3 col-md-3">
    <div class="white-bg">
      <img src="<%= @user.image if @user.image %>">
      <div class="padlx padly">
        <div class="text-center">
        <h4><%= @user.name if @user.name %></h4>
        <p><%= @user.description if @user.description %></p>
      </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <strong class="block"><%= @user.videos.count %></strong>
            Videos
          </div>
          <div class="col-md-4 text-center">
            <strong class="block"><%= @user.followers(User).count %></strong>
            Followers
          </div>
          <div class="col-md-4 text-center">
            <strong class="block"><%= @user.followees(User).count %></strong>
            Following
          </div>
        </div>
        <%= render 'shared/follow_form' , user: @user%>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-md-9">
    <div class="row">

      <% @user.videos.each do |video| %>

        <div class="col-sm-6 col-md-4 mb2">
          <div class="white-bg">
            <img src="<%= video.thumbnail_url %>" class="block">
            <div class="padlx padly">
              <%= link_to video.title, video, :class=> 'ell block' %>
              <%= link_to video.tag_list, tag_path(video.tag_list), :class => 'gray' %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <div class="hide">
    <p><%= @user.website_url %></p>

    <p><%= @user.twitter_url %></p>

    <p><%= @user.profile_background_image_url_https if @user.nickname %></p>

    <p><%= @user.profile_background_image_url if @user.nickname %></p>
  </div>
</div>
