<div class="row">

  <div class="col-md-3">
    <div class="gray-bg">
      <img src="<%= @user.image if @user.image %>">
      <div class="padlx padly">
        <h4><%= @user.name if @user.name %></h4>
        <p><%= @user.description if @user.description %></p>
        <p>
        Followers: <strong><%= @user.followers(User).count %></strong>
        </p>
        <p>
        Videos: <strong><%= @user.videos.count %></strong>
        </p>
        <%= render 'shared/follow_form' , user: @user%>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">

      <% @user.videos.each do |video| %>

        <div class="col-md-4">
          <img src="<%= video.thumbnail_url %>" class="block">
          <%= link_to video.title, video, :class=> 'ell block' %>
          <%= link_to video.tag_list, tag_path(video.tag_list)%>

        </div>

      <% end %>

    </div>
  </div>

  <div class="hide">
    <p><%= @user.website_url %></p>

    <p><%= @user.twitter_url %></p>

    <p><%= @user.profile_background_image_url_https if @user.nickname %></p>

    <p><%= @user.profile_background_image_url if @user.nickname %></p>
  </div>
</div>
