<div class="row">

  <div class="large-3 column">
    <div class="gray-bg">
      <img src="<%= @user.image if @user.image %>">
      <div class="">
        <h4><%= @user.name if @user.name %></h4>
        <p><%= @user.description if @user.description %></p>
        <a href="" title="" class="alert button tiny expand">Follow</a>
      </div>
    </div>
  </div>

  <div class="large-9 column">
    <div class="row">

      <% @user.videos.each do |video| %>

      <div class="large-4 column end">
        <img src="<%= video.thumbnail_url %>">
        <%= link_to video.title, video %>
      </div>

      <% end %>

    </div>
  </div>

</div>



<div class="hide">
  <p><%= @user.website_url %></p>

  <p><%= @user.twitter_url %></p>

  <p><%= @user.profile_background_image_url_https if @user.nickname %></p>

  <p><%= @user.profile_background_image_url if @user.nickname %></p>
</div>
