<div class="dark-bg relative media-cover" style="background-image: url(<%= @user.profile_banner_url if @user.profile_banner.present? %>)">
  <div class="card__overlay"></div>
  <div class="row">
    <div class="large-10 column column--center">
      <div class="flex-embed flex-embed--16by9">
      </div>
    </div>
  </div><!-- row -->

  <% if user_signed_in? and current_user == @user %>
  <%= link_to edit_user_path(current_user), :class=> "absolute pin-bottom-bight padding-one white" do %>
  <span class="iconicstroke-cog" title="Change Profile Header"></span>
  <% end %>
  <% end %>
</div><!-- media-cover -->

<div class="gray-bg">
  <div class="row margin-bottom-two">
   <div class="large-10 column column--center">

    <div class="row">

      <div class="large-8 column">
        <div class="row">
          <div class="large-3 column">
            <img src="<%= @user.image if @user.image %>" class="block">
          </div>

          <div class="large-9 column">
            <h3>
              <%= @user.name if @user.name %>
              <small>
                <a href="<%= @user.twitter_url %>" target="_blank">
                  <img src="/assets/twitter-bird-blue-16x16.png">
                </a>
              </small>
            </h3>
            <p><%= @user.description if @user.description %></p>
          </div>
        </div>
      </div>

      <div class="large-4 column">

        <div class="large-3 column text-center padding-top-three">
          <strong class="block"><%= @user.videos.count %></strong>
          <small>Videos</small>
        </div>

        <div class="large-3 column text-center padding-top-three">
          <strong class="block"><%= @user.followers(User).count %></strong>
          <small>Followers</small>
        </div>

        <div class="large-3 column text-center padding-top-three">
          <strong class="block"><%= @user.followees(User).count %></strong>
          <small>Following</small>
        </div>

        <div class="large-3 column padding-top-three">
          <div class="text-center">
            <%= render 'shared/follow_form' , user: @user %>
          </div>
        </div>

      </div>

    </div><!-- row -->

  </div>
</div>
</div><!-- gray-bg -->


<div class="row">
  <div class="large-10 column column--center">
    <div class="row">

      <% if @user.videos.length == 0 %>
      <%= render 'shared/video_card_placeholders' %>
      <% end %>

      <% if @user.videos.length == 0 and user_signed_in? and current_user == @user %>
      <div class="large-12 column">
        <div class="margin-top-four margin-bottom-four text-center">
          <%= link_to({:action => 'new', :controller => 'videos'}, {:class => "button button-primary"}) do %>
          <span class="iconicstroke-plus margin-right-one"></span> Add Your First Talk
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @user.videos.length > 0 %>
      <% @user.videos.each do |video| %>
      <%= render 'shared/video_card', :video => video %>
      <% end %>
      <% if user_signed_in? and current_user == @user %>
      <%= render 'shared/video_card_add_placeholder' %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
