<div class="margin-top-four">

  <div class="row">

    <div class="large-10 column column--center">
      <div class="row">
        <div class="large-12 column">
          <%= form_for :video, url: video_path(@video), method: :patch do |f| %>

          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, :type => 'text', :placeholder => 'Video URL', :class => 'form-control form-control border padding-one full-width margin-bottom-one', :required => 'true' %>
          </div>

          <div class="form-group">
            <%= f.label :tag_list %>
            <%= f.text_field :tag_list, :type => 'text', :placeholder => 'Tags', :class => 'form-control form-control border padding-one full-width margin-bottom-one', :required => 'true' %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, :autofocus => true, :placeholder => 'Description', :class=>'form-control form-control border padding-one full-width margin-bottom-one', :hatch => true %>
          </div>

          <div class="form-group">
            <%= f.submit class:'padding-top-halve padding-left-two padding-bottom-halve padding-right-two'%>
          </div>

          <%= link_to 'Delete', video_path(@video), method: :delete, data: { confirm: 'Are you sure you want to delete this video?' } %>

          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
