<div class="margin-top-two">

  <div class="row">

    <div class="large-8 column column--center">
      <div class="white-bg padding-two">

        <h3 class="text-center margin-top-none margin-bottom-one">Edit Video</h3>

        <% if @video.errors.any? %>
        <ul class="list-bare">
          <% @video.errors.full_messages.each do |msg| %>
          <li class="margin-bottom-one danger"><%= msg %></li>
          <% end %>
        </ul>
        <% end %>

        <div class="row">
          <div class="large-12 column">
            <%= form_for :video, url: video_path(@video), method: :patch do |f| %>

            <div class="form-group">
              <%= f.label :title, :class=> "hide" %>
              <%= f.text_field :title, :type => 'text', :placeholder => 'Title', :class => 'form-control', :required => 'true' %>
            </div>

            <div class="form-group">
              <%= f.label :tag_list, :class=> "hide" %>
              <%= f.text_field :tag_list, :type => 'text', :placeholder => 'Tags', :class => 'form-control', :required => 'true' %>
            </div>

            <div class="form-group">
              <%= f.label :description, :class=> "hide" %>
              <%= f.text_area :description, :autofocus => true, :placeholder => 'Description', :class=>'form-control', :hatch => true %>
              <small class="dark-gray right">Markdown and syntax highlight are supported.</small>
            </div>

            <div class="form-group">
              <%= f.submit "Update", class:'button button-primary'%>
            </div>

            <%= link_to 'Delete', video_path(@video), method: :delete, data: { confirm: 'Are you sure you want to delete this video?' }, :class => "button hide" %>

            <% end %>
          </div>
        </div>
      </div><!-- white-bg padding-two -->
    </div><!-- large-6 -->

  </div>

</div>
