<div class="margin-top-one">
  <div class="row ">

    <div class="large-2 column">
      <ul class="list-bare">
        <% tag_cloud Video.tag_counts, %w{s m l} do |tag| %>
        <li>
          <%= link_to tag_path(tag.name), :class=> "border-bottom margin-bottom-half padding-top-half padding-bottom-half block" do %>
          <%= tag.name %>
          <small class="right small"><%= tag.count %></small>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="large-10 column">
      <div class="row">
        <% if params[:search] %>
        <div class="large-12 column">
          <h3 class="margin-top-none margin-bottom-one regular">We found <%= @videos.length %> videos about <span class=""><%= params[:search] %></span></h3>
        </div>
        <% end %>
        <% @videos.each do |video| %>
        <%= render 'shared/video_card', :video => video %>
        <% end %>
      </div>
    </div>

  </div>

</div>
