<div class="black-bg">
  <div class="row">
    <div class="large-10 column column--center">
      <div class="flex-embed flex-embed--16by9">
        <%= @video.html.html_safe %>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="large-9 column">
    <h3 class="mt0"><%= @video.title %></h3>
    <p><%= markdown(@video.description) %></p>
  </div>

  <div class="large-3 column">
    <div class="margin-bottom-one padding-top-one padding-bottom-one border-bottom">
      <%= render 'shared/like_form', likeable: @video %>
      <div class="likes"><%= pluralize(@video.likers(User).count, '')%></div>
      <% @likers.each do |user|%>
      <%= link_to user.name, user %>
      <% end %>

      <p><%= link_to @video.tag_list, tag_path(@video.tag_list)%></p>
      <% if @video.user == current_user %>
      <%= link_to 'Delete', video_path(@video), method: :delete, data: { confirm: 'Are you sure you want to delete this video?' } %>
      <%= link_to 'Edit', edit_video_path(@video) %>
      <% end %>
    </div>

    <%= link_to @video.user, :class=> "ell block" do %>
    <div class="media">
      <div class="pull-left">
        <img class="media-object" src="<%= @video.user.image %>" alt="<%= @video.user.name %>" style="height:64px;height:64px;">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @video.user.name %></h4>
        <p><%= markdown(@video.user.description) if @video.user.description %></p>
      </div>
    </div>
    <% end %>
  </div>

</div>


<!-- related Videos by the current video tags -->
<div class="row">
  <% Video.tagged_with([@video.tag_list]).each do |video| %>
  <% if video.id != @video.id %>
  <%= render 'shared/video_card', :video => video %>
  <% end %>
  <% end %>
</div>
