<div class="black-bg">
  <div class="row">
    <div class="large-10 column column--center">
      <div class="flex-embed flex-embed--16by9">
        <% if @video.html %>
        <%= @video.html.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="large-10 column column--center">

    <div class="row">
      <div class="large-9 column">
        <h3 class="mt0"><%= @video.title %></h3>
        <p><%= markdown(@video.description) %></p>
      </div>

      <div class="large-3 column">

        <div class="margin-bottom-one padding-top-one padding-bottom-one border-bottom">

          <div class="row">

            <% if user_signed_in? %>
            <div class="large-6 medium-6 small-6 column text-left">

              <%= render 'shared/like_form', likeable: @video %>

              <small class="likes padding-top-halve padding-bottom-halve padding-right-one padding-left-one white-bg border-right border-top border-bottom left">
                <%= pluralize(@video.likers(User).count, '')%>
              </small>
            </div>
            <% end %>

            <div class="large-6 medium-6 small-6 column text-right">
              <% if @video.user == current_user %>
              <%= link_to video_path(@video), method: :delete, data: { confirm: 'Are you sure you want to delete this video?' }, :class=> "button button-icon hide", :title => "Delete" do %>
              <span class="iconicstroke-x" title="Delete"></span>
              <% end %>
              <%= link_to edit_video_path(@video), :class=> "button button-icon", :title => "Edit" do %>
              <span class="iconicstroke-pen-alt2" title="Profile"></span>
              <% end %>
              <% end %>
            </div>
          </div>

          <div class="hide">
            <% @likers.each do |user|%>
            <%= link_to user.name, user %>
            <% end %>
          </div>

          <% if !@video.tag_list.empty? %>
            <p><%= raw @video.tag_list.map { |t| link_to t, tag_path(t), class: 'tag' }.join('  ') %></p>
          <% end %>

        </div>

        <div class="margin-bottom-one padding-bottom-one border-bottom">
          <%= link_to @video.user, :class=> "ell block gray-bg" do %>
          <div class="left">
            <img class="margin-right-half block" src="<%= @video.user.image %>" alt="<%= @video.user.name %>" style="width:64px;height:64px;">
          </div>
          <h4 class="margin-bottom-none ell"><%= @video.user.name %></h4>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div><!-- row -->


<!-- related Videos by the current video tags -->
<% if Video.tagged_with([@video.tag_list]).length  > 1 %>
<div class="gray-bg padding-top-two padding-bottom-two">
  <div class="row">
    <div class="large-10 column column--center">
      <h3>Related Talks</h3>
    </div>

    <div class="large-10 column column--center">
      <div class="row">
        <% Video.tagged_with([@video.tag_list]).each do |video| %>
        <% if video.id != @video.id %>
        <%= render 'shared/video_card', :video => video %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
