<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Ontwik" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ontwik" %>">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="/favicon.ico?v=3">
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= body_css_class %> <% if user_signed_in? %> logged_in <% else %> logged_out <% end %>">
