<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title><%= content_for?(:title) ? yield(:title) : t('app_name') %></title>
  <meta name='description' content="<%= content_for?(:description) ? yield(:description) : t('app_descroption') %>">

  <%= render 'shared/open_graph' %>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css">

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  <link rel='shortcut icon' href='/favicon.ico'>

  <%= csrf_meta_tags %>
</head>
<body class='<%= body_class %>'>