<div class="modal fade likers-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only hide">Close</span>
      </button>

      <div class="modal-body">
        <h3 class="margin-bottom-two">Liked by <%= pluralize(@likers.length, 'People') %></h3>

        <% @likers.each do |profile|%>

        <div class="margin-bottom-one padding-bottom-one border-bottom ell">
        <%= link_to profile, :class=> "block flag" do %>
          <div class="flag__image">
            <img src="<%= profile.image %>" alt="<%= profile.name %>" style="width:64px;height:64px;">
          </div>
          <h4 class="margin-bottom-none flag__image">
            <%= profile.name %>
          </h4>
          <% end %>
        </div>

        <% end %>

      </div>

    </div>
  </div>
</div>
