<div class="column large-4 margin-bottom-two">
  <%= link_to talk, :class=> "ell block talk-preview" do %>
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half" style="background-image: url(<%= talk.thumbnail_url %>)">
  </div>
  <div class="card-inside">
    <div class="left margin-right-half">
      <%= link_to talk.user, :title => talk.user.name, :class=> "ell block" do %>
      <img class="left radius-half" src="<%= talk.user.image %>" alt="<%= talk.user.name %>" style="height:24px;height:24px;">
      <% end %>
    </div>
    <h3>
      <%= link_to talk, :class=> "ell block" do %>
      <%= talk.title %>
      <% end %>
    </h3>
  </div>
  <% end %>
</div>
