<div class="column <%= classes %> margin-bottom-two">
  <div class="card">
    <%= link_to talk, :class=> "ell block uppercase" do %>
    <div class="media-cover flex-embed flex-embed--16by9" style="background-image: url(<%= talk.thumbnail_url %>)">

      <div class="overlay absolute pin-all"></div>

      <div class="absolute pin-bottom padding-one">
        <small class="<%= hideAuthor if defined?(hideAuthor) %>">
          <%= link_to talk.profile, :title => talk.profile.name, :class=> "ell block white" do %>
          <%= talk.profile.name %>
          <% end %>
        </small>
        <h3 class="card-title">
          <%= link_to talk, :class=> "ell block white", :title=> talk.title do %>
          <%= talk.title %>
          <% end %>
        </h3>
      </div>

    </div>
    <% end %>
  </div>
</div>


