<!-- Tag list in the talk grid -->
<%= link_to talk.tag_list, tag_path(talk.tag_list) %>

<div class="hide">
  <p><%= @speaker.website_url %></p>

  <p><%= @speaker.twitter_url %></p>

  <p><%= @speaker.profile_background_image_url_https if @speaker.nickname %></p>

  <p><%= @speaker.profile_background_image_url if @speaker.nickname %></p>
</div>


<p><%= markdown(@talk.speaker.description) if @talk.speaker.description %></p>
