<!-- Tag list in the talk grid -->
<%= link_to talk.tag_list, tag_path(talk.tag_list) %>

<div class="hide">
  <p><%= @user.website_url %></p>

  <p><%= @user.twitter_url %></p>

  <p><%= @user.profile_background_image_url_https if @user.nickname %></p>

  <p><%= @user.profile_background_image_url if @user.nickname %></p>
</div>


<p><%= markdown(@talk.user.description) if @talk.user.description %></p>
