<!-- Tag list in the talk grid -->
<%= link_to talk.tag_list, tag_path(talk.tag_list) %>

<div class="hide">
  <p><%= @profile.website_url %></p>

  <p><%= @profile.twitter_url %></p>

  <p><%= @profile.profile_background_image_url_https if @profile.nickname %></p>

  <p><%= @profile.profile_background_image_url if @profile.nickname %></p>
</div>


<p><%= markdown(@talk.profile.description) if @talk.profile.description %></p>


<%= activity.inspect %>
