<% content_for :title do %>
<%= @speaker.name %>
<% end %>

<% content_for :description do %>
<%= truncate @speaker.description, length: 155 %>
<% end %>

<div class="dark-bg relative media-cover" style="background-image: url(<%= @speaker.profile_banner_url if @speaker.profile_banner.present? %>)">
  <div class="card__overlay"></div>
  <div class="row">
    <div class="large-10 column column--center">
      <div class="flex-embed flex-embed--16by9">
      </div>
    </div>
  </div><!-- row -->

  <% if user_signed_in? and current_user == @speaker and not @speaker.profile_banner.present? %>
  <%= link_to edit_speaker_path(current_user), :class=> "absolute pin-bottom-right padding-one white" do %>
  <small class="border-all padding-right-one padding-left-one padding-top-half padding-bottom-half">
    <span class="iconicstroke-plus margin-right-half"></span>
    Add a header photo
  </small>
  <% end %>
  <% end %>
</div><!-- media-cover -->

<div class="gray-bg">
  <div class="row margin-bottom-two">
   <div class="large-10 column column--center">

    <div class="row">

      <div class="large-8 column">
        <div class="row">
          <div class="large-3 column">
            <img src="<%= @speaker.image if @speaker.image %>" class="block">
          </div>

          <div class="large-9 column">
            <h3>
              <%= @speaker.name if @speaker.name %>
              <small>
                <a href="<%= @speaker.twitter_url %>" target="_blank">
                  <img src="/assets/twitter-bird-blue-16x16.png">
                </a>
              </small>
            </h3>
            <p><%= @speaker.description if @speaker.description %></p>
          </div>
        </div>
      </div>

      <div class="large-4 column">

        <div class="large-3 column text-center padding-top-three">
          <strong class="block"><%= @speaker.talks.count %></strong>
          <small>Talks</small>
        </div>

        <div class="large-3 column text-center padding-top-three">
          <strong class="block"><%= @speaker.followers(Speaker).count %></strong>
          <small>Followers</small>
        </div>

        <div class="large-3 column text-center padding-top-three">
          <strong class="block"><%= @speaker.followees(Speaker).count %></strong>
          <small>Following</small>
        </div>

        <div class="large-3 column padding-top-three">
          <div class="text-center">
            <%= render 'shared/follow_form' , speaker: @speaker %>
          </div>
        </div>

      </div>

    </div><!-- row -->

  </div>
</div>
</div><!-- gray-bg -->


<div class="row">
  <div class="large-10 column column--center">
    <div class="row">

      <% if @speakerTalks.length == 0 %>
      <%= render 'shared/talk_card_placeholders' %>
      <% end %>

      <% if @speakerTalks.length == 0 and user_signed_in? and current_user == @speaker %>
      <div class="large-12 column">
        <div class="margin-top-two margin-bottom-four text-center">
          <%= link_to({:action => 'new', :controller => 'talks'}, {:class => "button button-primary"}) do %>
          <span class="iconicstroke-plus margin-right-one"></span> Add Your First Talk
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @speakerTalks.length > 0 %>
      <% @speakerTalks.each do |talk| %>
      <%= render 'shared/talk_card', :talk => talk %>
      <% end %>
      <% if user_signed_in? and current_user == @speaker %>
      <%= render 'shared/talk_card_add_placeholder' %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
