<%= render 'shared/head' %>

<%= render 'shared/header' %>

<main role="main">
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</main>

<%= render 'shared/footer' %>
